html,
body {
  max-width: 100%;
  margin: 0 auto;
  padding: 0;
  position: relative;
  color: #000;
  /*font-family: 'Montserrat', sans-serif;*/
  background-color: white;
}


@media screen and (max-width: 1440px) {
  overflow: hidden;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type=checkbox] {
  display: block;
}

input, textarea {
  resize: none;
  outline: none;
  border: none;
  font-family: Montserrat, sans-serif;
}

input[type='number'],
input[type="number"]:hover,
input[type="number"]:focus {
  appearance: none;
  font-family: Montserrat, sans-serif;
  -moz-appearance: textfield;
}


h1, h2, h3, h4, h5, h6 {
  color: white;
  margin: 0;
  padding: 0;
}

a, p {
  color: inherit;
  padding: 0;
  margin: 0;
  text-decoration: none;
}

button {
  font-family: Montserrat, sans-serif;
  cursor: pointer;
  border: none;
  padding: 0;
  margin: 0;
}

br {
  display: none;
}

@media screen and (max-width: 500px) {
  br {
    display: block;
  }
}

[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types.ts.ts in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}
